<main>
<section class="precursor">
    <div class="border"></div>
    <div class="content profile-content">
    </div>
    <div class="border"></div>
</section>
<section class="banner">
    <div class="border"></div>
    <div class="content profile-content">
        <h1>EduLife</h1>
    </div>
    <div class="border"></div>
</section>
<section class="hero">
    <div class="border"></div>
    <div class="content">
        <h2>A Guide to Life Sciences</h2>
      <div class="work-labels">
        <div>
            <div class="labelicons"><img src="..\assets\icons\newicons\Icons8(4)\icons8-dna-50.png" alt="dna"></div>
            <label>Life Sciences</label>
        </div>

        <div>
            <div class="labelicons"><img src="..\assets\icons\newicons\Icons8(4)\icons8-cell-50.png" alt="cell"></div>
            <label>Biotech</label>
        </div>

        <div>
            <div class="labelicons"><img src="..\assets\icons\newicons\Icons8(4)\icons8-protein-50-2.png" alt="protein"></div>
            <label>Data Analytics</label>
        </div>
        
      </div>
      <div>
        <div class="helix">      <app-dna-helix/>      </div>
      </div>
    </div>
      <div class="border"></div>
</section>
<section class="articlelist">
    <div class="border"></div>
    <div class="content">
        
        <div class="article">
            <h2>EduLife</h2>
            <p>EduLife is a work in progress and will be updated in the near future</p>
            <small>Pub: 12/08/2025</small>
        </div>
        <hr>

    </div>
    <div class="border"></div>
</section>

