<main>
  <section class="hero">
    <div class="border"></div>
    <div class="content">
      <div class="work-labels">
        <label>Web Development</label>
        <label>Data Analytics</label>
        <label>Bioinformatics</label>
      </div>
      <div>
        <div class="helix">      <app-dna-helix/>      </div>
      </div>
      <!-- <img class="sapling-mobile" src="../assets/svg/Sapling.svg"/> -->
      <!-- <h1 aria-label="Jacob">
        <label><span>M</span><span>S</span><span>c</span></label>
        <label><span>B</span><span>S</span><span>c</span></label>
        <span>J</span><span>A</span><span>C</span><span>O</span><span>B</span></h1> -->
      <h2 aria-label="Tudor"><span>T</span><span>U</span><span>D</span>
        <!-- <img class="sapling" src="../assets/svg/Sapling.svg"/> -->
        <span>O</span><span>R</span></h2>
    </div>
      <div class="border"></div>
    </section>
    <section class="banner">
      <div class="border"></div>
      <div class="content profile-content">
        <div class="titles">
        <img src="../assets/images/jacob-picture-1920.png" alt="profile picture">
      </div>
      <div class="profile">
        <div></div>
        <p><b>MSc</b> Bioinformatics and Systems Biology</p>
        <p><b>BSc</b> Biological Sciences</p>
        <p>With 5 years of studying biology and biological data
          and 2 years of professional web development I blend
          biology and programming together to conduct novel
          research and produce valuable web/software tools
        </p>
        <small>
          <label>Python</label><label>R</label><label>JavaScript</label><label>Typescript</label><label>HTML5</label>
        </small>
        <small>          
          <label>CSS</label><label>MySQL</label><label>Angular</label><label>Vue</label><label>React</label>
        </small>
      </div>
      </div>
      <div class="border"></div>
    </section>
    <section class="databio-section">
      <div class="border"></div>
      <div class="column"></div>
      <div class="main">
        <div class="content">
          <h2>Data Services and Bioinformatics</h2>
        <h3>"Whether you require assistance interpreting Biological data, Business Analytics or other forms of data. My extensive experience with statistics can help meet your needs. Arrange a meeting and we can discuss how I can help"</h3>
        </div>
        <div class="section-1">
          <div>
            <div>
              <div class="databio-icon">
                <img src="..\assets\icons\newicons\Icons8(4)\icons8-market-research-50.png" alt="science icon">
              </div>
              <div class="caption">
                <h2>Scientific background</h2>
                <p>I come from a scientific background, studying Biological Sciences at University for five years. One of those years I spent studying in Melbourne Australia</p>
                <p>With adept knowledge of a variety of Biological areas, research methods and statistical analysis I can help analyse and interpret your results.</p>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
        </div>

        <div class="section-2">
          <div class="spacer"></div>
          <div>
            <div>
              <div class="databio-icon"><img src="..\assets\icons\newicons\Icons8(4)\icons8-molecule-50.png" alt="molecule icon"></div>
              <div class="caption">
                <h2>Multi-Omic Analysis</h2>
                <p>With experience analysing genetic, proteomic, trasncriptomic and metabolomic datasets I am equipped to help you find trends, biological insights and put your results in biological context.</p>
                <ul>
                  <li><p>Mass Spectrometry</p></li>
                  <li><p>Single Sequence analysis</p></li>
                  <li><p>Phylogenomics</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="section-3">
          <div>
            <div>
              <div class="databio-icon"><img src="..\assets\icons\newicons\Icons8(4)\icons8-web-analytics-50-2.png" alt="analytics icon"></div>
              <div class="caption">
                <h2>Statistical Validation</h2>
                <p>In Life Sciences very little is certain without proper validation and with so much variation we need a strong understanding of statiscal methods to ensure our work is reliable as possible.</p>
                <p>I bring a versatile tool-kit of statistical approaches to analysing Biological data accounting for the huge variation we see in nature</p>
                <ul>
                  <li><p>Machine Learning approaches - Scikit | PyTorch | Tensorflow</p></li>
                  <li><p>Data Cleaning</p></li>
                  <li><p>Quality Assurance</p></li>
                  <li><p>Analysis</p></li>
                  <li><p>Professional publication ready visualisations</p></li>
                  <li><p>Polished Deliverables</p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="column"></div>
      <div class="border"></div>
    </section>

    <section class="banner yellow">
      <div class="border yellow"></div>
      <div class="content yellow">
        <h2>Functional Streamlined Personal</h2>
      </div>
      <div class="border yellow"></div>
    </section>

    <section class="hero-section">
      <div class="border yellow"></div>
      <div>
        <div class="hero-title">
          <h1>A Creative<br/> Developer</h1>
          <div class="hero-title-icons">
            <div><img src="../assets/icons/icons8-html5-100.png" alt="HTML 5 logo"  loading="lazy"></div>
            <div><img class="css-icon" src="../assets/icons/icons8-css-100.png" alt="CSS3 logo"  loading="lazy"></div>
            <div><img src="../assets/icons/icons8-javascript-100.png" alt="Javascript"  loading="lazy"></div>
          </div>
        </div>
      </div>
      <div class="content">
            
        <div class="hero-img"><img src="./assets/images/hero-image.png" alt="Photo of Jacob site and portfolio owner" loading="lazy"></div>
      </div>
      <div class="border yellow"></div>
    </section>

    <section class="webservices">
      <div class="border"></div>
      <div class="content">
        <div>
          <h4>Eccomerce</h4>
          <div class="webservicesimg"><img src="../assets/images/pexels-n-voitkevich-6214384.jpg" alt="eccomerce image"></div>
        </div>
        <div>
          <h4>Blogs</h4>
          <div class="webservicesimg"><img src="../assets/images/pexels-suzyhazelwood-3695297.jpg" alt="eccomerce image"></div>
        </div>
        <div>
          <h4>Web Tools</h4>
          <div class="webservicesimg"><img src="../assets/images/pexels-anshul-kumar-495857555-16023919.jpg" alt="eccomerce image"></div>
        </div>
        </div>
        <div class="yellowside"></div>
      <div class="border"></div>
    </section>

    <section class="banner">
      <div class="border"></div>
      <div class="content">
        <h2>Staying Creative in an Automated World</h2>
      </div>
      <div class="border"></div>
    </section>



    <section id="about-me" class="about-me-section">
      <div class="border"></div>
      <div class="content">
        <div data-aos="fade-up" class="about-me-card about-me-professional">
          <div class="info">
            <h4>About me</h4>
            <h3>Professional</h3>
            <p>
              I am a professional front-end web developer with 2 years experience building, redesigning and updating new sites and older legacy sites in a corporate setting.
            </p>
            <p>
              Technology moves fast and with so many new tools available I ensure I select the most relevant and easily maintainable for the task. 
            </p>
            <p>
              I have primarily focussed on Angular devrelopment throughouit my professional career, but have been required to apply key development concepts over to .NET applications. 
            </p>
          </div>
          <div class="imagery">
            <img class="angular-icon" src="../assets/icons/4373284_angular_logo_logos_icon.png" alt="Angular logo"  loading="lazy">
            <img class="sass-icon" src="../assets/icons/1297046_code_compilator_css_design_sass_icon.png" alt="sass logo"  loading="lazy">
            <img class="vue-icon" src="../assets/icons/icons8-vue-js-96.png" alt="vuejs logo"  loading="lazy">
            <img class="firebase-icon" src="../assets/icons/icons8-firebase-96.png" alt="Firebase logo"  loading="lazy">
            <img class="react-icon" src="../assets/icons/react-icon.png" alt="React logo"  loading="lazy">
          </div>
        </div>
        <div class="about-me-card about-me-personal">
          <div class="quote">
            <h3>Creativity<br/>Is always a<br/>Worthy Pursuit</h3>
          </div>
          <div class="info">
            <h4>About me</h4>
            <h3>Personal</h3>
            <p>
              In a world of AI generation and automation it is more important than ever to stay creative. To stand out from the crowd a personal human touch will connect you and your audience</p>
            <p>
              I have continued to persue art throughout this turning point in our history for the for the enjoyment of it, the growth I gain from it and as art has always done, to connect with people.
            </p>
          </div>
          <div class="imagery">
            <div>
              <img class="img-1" src="../assets/images/beastsnaggafv.jpg" alt="beastsnagga painted miniature"  loading="lazy">
              <img class="img-2" src="../assets/images/savageorcfv.jpg" alt="savage orc painted miniature"  loading="lazy">
            </div>
            <div>
              <img class="img-3" src="../assets/images/sylvanethfv.jpg" alt="sylvaneth painted miniature"  loading="lazy">
              <img class="img-4" src="../assets/images/fyreslayersv.jpg" alt="fyreslayer painted miniature"  loading="lazy">
            </div>
            <div class="img-container"><img class="img-5" src="../assets/images/drawing_img.png" alt="Jacob Drawing"  loading="lazy"></div>
          </div>
      </div>
    </div>
    <div class="border"></div>
    </section>    
    
    <section class="edulife banner yellow">
      <div class="border yellow"></div>
      <div class="content yellow">
        <h2>EduLife</h2>
        <h3>"Pass On The Promethean Torch"</h3>
      </div>
      <div class="border yellow"></div>
    </section>
        <section class="edulife-section">
      <div class="border yellow"></div>
      <div class="content yellow">
        <p>EduLife is a personal project to make Life Science education to everyone.</p>
        <p>Want to know how life science research is really done? learn with me as we explore new topics and techniques in digestible formats, we explore everything from in-depth Biology to the techniques and concepts you will need to work in the world of complex technology and life sciences. </p>
        <a href="#EduLife">Explore EduLife</a>
      </div>
      <div class="border yellow"></div>
    </section>
  </main>