@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Overlock+SC&display=swap');

html { 
  scroll-behavior: smooth;
}
html, body {
  position: relative;
  overflow-x: hidden;
}

:root { 
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

$fontPrimary: 'Open Sans';
$fontSecondary: 'Overlock SC, cursive';

$white: #fff;
$black: #000;
$darkgrey: #212121;
$lightgrey: #f5f5f5;

$red: #8B1A10;
$secondary: #ffe177;
$offsecondary: #f8e9b4;
$green: #7dca8a;

$light-text: #b7b7b7;
$medium-text: #b1b1b1;
$dark-text: #2c2c2c;

$headerbackground: rgba(242, 242, 242, 0.25);
$shadow: 0px 4px 4px 0px rgba(71, 37, 37, 0.25);
$greenshadow: 0px 4px 4px 0px #7dca8a;
$text-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);

// desktop font
$font-xlg: 2.25rem;
$font-lg: 1.5rem;
$font-md: 1.125rem;
$font-def: 1rem;
$font-sm: 0.875rem;
$font-xsm: 0.75rem;

/* Font-Size */
$font-size-300: 0.8rem;
$font-size-400: 1rem;
$font-size-500: 1.125rem;
$font-size-600: 1.5rem;
$font-size-700: 2rem;
$font-size-800: 3rem;
// tablet font

// mobile font

$letterspacing-lg: 6.48px; 
$letterspacing-md: 3.96px; 
$letterspacing-md-: 3.24px; 
$letterspacing-sm: 2.52px; 

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  /* Font-Size */
  :root { 
    font-size: 10px;
  }
  
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  /* Font-Size */
  :root { 
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }
  
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  /* Font-Size */
  :root { 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
  
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  /* Font-Size */
  :root { 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
  
 } 